button.btn {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;

  &.btn-primary {
    border: 2px solid #ffffff;
    background: none;
    color: #ffffff;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.98);
      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.12);
    }
  }
}
